<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="app.css">
	<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700,700i&display=swap" rel="stylesheet">
</head>
<body>
	<header>
			<h1>🛒 🛍️ todo<span> list</span> </h1>
			<h2>Very Simple List Application.</h2>
	</header>
	<section class="form"> 
		<input type="text" id="todoInput" placeholder="Enter here,I have to do tasks.🛒 🛍️ 🏪 🏬" name=""> 
	</section>
	<ul class="list"></ul>
	<script type="text/javascript" src="app.js" ></script>

</body>
</html>